﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="LandingPage_Default" %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Cruise Intensive</title>
    <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://code.jquery.com/">
    <link rel="preconnect" href="https://cdn.jsdelivr.net/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/cruiseintensivees/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/cruiseintensivees/img/favicon/favicon.png" />
    <link rel="apple-touch-icon" href="/cruiseintensivees/img/favicon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/cruiseintensivees/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/cruiseintensivees/img/favicon/apple-touch-icon-114x114.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162929067-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-162929067-2');
    </script>
  </head>

  <body>
    <header id="frmtHead">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div id="lang-wrapper">
              <ul tabindex="-1">
                <li>
                  <a href="#" class="active">
                    Español
                  </a>
                </li>
                <li>
                  <a href="/cruiseincentive">
                    English
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-4 text-center">
            <a href="/">
              <img src="/cruiseintensivees/img/blank.png" data-src="/cruiseintensivees/img/farmasi-logo.png"
                class="lazyload img-fluid" alt="Cruise Intensive" width="170" height="40">
            </a>
          </div>
        </div>
      </div>
    </header>
    <section id="section1">
      <img src="/cruiseintensivees/img/img1.jpg" alt="Cruise Intensive">
    </section>
    <section id="section2">
      <img src="/cruiseintensivees/img/img2.jpg" alt="Cruise Intensive">
    </section>
    <section id="section3">
      <img src="/cruiseintensivees/img/img3.jpg" alt="Cruise Intensive">
    </section>
    <section id="section4">
      <img src="/cruiseintensivees/img/img4.jpg" alt="Cruise Intensive">
    </section>
    <section id="section5">
      <img src="/cruiseintensivees/img/img6.jpg" alt="Cruise Intensive">
    </section>
    <section id="section6">
      <div class="container">
        <div class="col-12">
          <h2>Preguntas frecuentes</h2>
          <div class="accordion" id="farmasifaq">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    P: ¿A dónde nos llevará el próximo viaje de incentivo de Farmasi?
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: ¡La Familia Farmasi se embarca en un crucero!</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    P: ¿En qué fechas se realiza este viaje?
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Farmasi Cruise 2022 se llevará a cabo en Abril o Mayo de 2022. Las fechas finales se anunciarán
                    pronto.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    P: ¿Cuántas personas pueden calificar para este viaje de incentivo?
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: No habrá un número fijo de participantes para Farmasi Cruise 2022. Si califica, ¡irá!
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    P: ¿Cuál es el período de calificación?
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Las calificaciones ya han comenzado. Puede calificar entre Julio de 2021 hasta Marzo de 2022.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    P: ¿Cómo califico?
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Hay 3 formas de calificar para Farmasi Cruise 2022:</p>
                  <ul>
                    <li>
                      <p><b>Nuevos reclutas que se convierten en directores</b></p>
                      <p>Si se inscribe dentro del período de calificación y se convierte en director,
                        <b>¡CALIFICA!</b><br>
                        <b>Debe conservar su rango de Director hasta finales de Marzo de 2022 para calificar.</b>
                      </p>
                    </li>
                    <li>
                      <p><b>Agregue dos tramos del 25% sobre el conteo máximo de tramos de 2021</b></p>
                      <p>WSe comparará el máximo de tramos en la primera mitad de 2021 con los tramos al final del
                        período de incentivo. Aumente su conteo de BI de primera línea clasificado del 25% en un
                        mínimo de 2 y <b>¡CALIFICA!</b></p>
                    </li>
                    <li>
                      <p><b>Los 20 BI más importantes del ranking</b></p>
                      <p>Los líderes están ordenados por sus títulos. Para determinar los 20 líderes principales:</p>
                      <p><b>DIAMANTE Y ARRIBA</b></p>
                      <p>1er criterio - Título</p>
                      <p>Segundo criterio - Puntos de título</p>
                      <p>3er criterio - Puntos secundarios</p>
                      <p><b>ESMERALDA Y ABAJO</b></p>
                      <p>1er criterio - Título</p>
                      <p>Segundo criterio - Número de tramos</p>
                      <p>3er criterio - Puntos secundarios</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading6">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    P. ¿Cuál es la duración del crucero?
                  </button>
                </h2>
              </div>
              <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>La duración del crucero y los detalles todavia no se han finalizado.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading7">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    P. ¿Qué puertos visitará el crucero Farmasi?
                  </button>
                </h2>
              </div>
              <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>El crucero Farmasi y la trajectoria del viaje no ha sido finalizada pero apenas tenemos detalles
                    los
                    anunciaremos.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading8">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    P: ¿Qué incluye el Farmasi Cruise 2022?
                  </button>
                </h2>
              </div>
              <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Esto es lo que está incluido:</p>
                  <p>Tu tarifa del crucero</p>
                  <p>Todos los impuestos y tasas portuarias</p>
                  <p>Todas las comidas a bordo del crucero.</p>
                  <p>Todas las festividades patrocinadas por Farmasi</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading9">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    P: ¿Qué no está incluido?
                  </button>
                </h2>
              </div>
              <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Esto es lo que no está incluido:</p>
                  <p>Excursiones adicionales</p>
                  <p>Vuelos al puerto de salida</p>
                  <p>Traslados del aeropuerto al puerto</p>
                  <p>Tarifas de visas, pasaportes o pruebas de covid</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading10">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    P: ¿Qué sucede si califico antes de marzo de 2022 pero no puedo mantener mi rango en el último mes?
                  </button>
                </h2>
              </div>
              <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Debe mantener su título de director hasta finales de marzo para calificar para Farmasi Cruise.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading11">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    P: ¿Qué pasa si soy un 22% en este momento? ¿Qué regla me aplicaría?
                  </button>
                </h2>
              </div>
              <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Dado que no es un registro nuevo, solo se aplicarán las reglas 2 y 3.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading12">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    P: ¿Qué pasa si soy Gerente en el cuarto mes en este momento? ¿Califico cuando llegue a Director en
                    julio de 2021?
                  </button>
                </h2>
              </div>
              <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: No. La primera calificación es solo para los nuevos BI que se inscriban después de julio de
                    2021.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading13">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                    P: ¿Puedo traer un invitado a Farmasi Cruise 2022?
                  </button>
                </h2>
              </div>
              <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Puede invitar solo a un invitado adulto, pero habrá una tarifa adicional ya que los invitados no
                    están cubiertos en este viaje de incentivo.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading14">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                    P: ¿Habrá restricciones de COVID vigentes?
                  </button>
                </h2>
              </div>
              <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: En este momento, es necesaria una prueba COVID-19 negativa para volver a ingresar a los Estados
                    Unidos y se requiere una vacuna COVID-19 para abordar un crucero. Esas pautas gubernamentales pueden
                    cambiar antes de emprender este viaje. Si lo hacen, lo actualizaremos lo antes posible.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading15">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                    P. ¿Qué ropa debo empacar para el Farmasi Cruise 2022?
                  </button>
                </h2>
              </div>
              <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>R: Muchos trajes de baño, mucha ropa de verano, traje de cóctel para las cenas y un traje formal
                    para
                    la Noche del Capitán. ¡No olvide el bloqueador solar!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="frmFooter">
      <ul>
        <li>
          <a href="https://facebook.com/Farmasi-USA-2234387646887335/" target="_blank">
            <img src="/cruiseintensivees/img/blank.png" data-src="/cruiseintensivees/img/facebook.png"
              alt="Cruise Intensive" class="lazyload">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/farmasiusa/" target="_blank">
            <img src="/cruiseintensivees/img/blank.png" data-src="/cruiseintensivees/img/instagram.png"
              alt="Cruise Intensive" class="lazyload instagram">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCa0BWzAqhRML6yG5CRRBhNQ?view_as=subscriber" target="_blank">
            <img src="/cruiseintensivees/img/blank.png" data-src="/cruiseintensivees/img/youtube.png"
              alt="Cruise Intensive" class="lazyload">
          </a>
        </li>
      </ul>
      <p>© 2021 Farmasi</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"></script>
    <script src="/cruiseintensivees/js/core.min.js"></script>
  </body>

  </html>