﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="LandingPage_Default" %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Cruise Intensive</title>
    <link rel="preconnect" href="https://maxcdn.bootstrapcdn.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="preconnect" href="https://code.jquery.com/">
    <link rel="preconnect" href="https://cdn.jsdelivr.net/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/cruiseintensive/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/cruiseintensive/img/favicon/favicon.png" />
    <link rel="apple-touch-icon" href="/cruiseintensive/img/favicon/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/cruiseintensive/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/cruiseintensive/img/favicon/apple-touch-icon-114x114.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162929067-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-162929067-2');
    </script>
  </head>

  <body>
    <header id="frmtHead">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div id="lang-wrapper">
              <ul tabindex="-1">
                <li>
                  <a href="#" class="active">
                    English
                  </a>
                </li>
                <li>
                  <a href="/cruiseincentivees">
                    Español
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-4 text-center">
            <a href="/">
              <img src="/cruiseintensive/img/blank.png" data-src="/cruiseintensive/img/farmasi-logo.png"
                class="lazyload img-fluid" alt="Cruise Intensive" width="170" height="40">
            </a>
          </div>
        </div>
      </div>
    </header>
    <section id="section1">
      <img src="/cruiseintensive/img/img1.jpg" alt="Cruise Intensive">
    </section>
    <section id="section2">
      <img src="/cruiseintensive/img/img2.jpg" alt="Cruise Intensive">
    </section>
    <section id="section3">
      <img src="/cruiseintensive/img/img3.jpg" alt="Cruise Intensive">
    </section>
    <section id="section4">
      <img src="/cruiseintensive/img/img4.jpg" alt="Cruise Intensive">
    </section>
    <section id="section5">
      <img src="/cruiseintensive/img/img6.jpg" alt="Cruise Intensive">
    </section>
    <section id="section6">
      <div class="container">
        <div class="col-12">
          <h2>Frequently Asked Questions</h2>
          <div class="accordion" id="farmasifaq">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Q: Where is the next Farmasi Incentive Trip taking us to?
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Farmasi is sailing away on a cruise!</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Q: What dates is this trip taking place?
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Farmasi Cruise 2022 is happening in either April or May of 2022. Final dates will be announced
                    soon.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Q: How many people can qualify for this incentive trip?
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: There will be no set number of participants for Farmasi Cruise 2022. If you qualify, you're
                    going!
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Q: What is the qualification period?
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Qualifications have already kicked off. You can qualify between July 2021 until March 2022.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Q: How do I qualify?
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: There are 3 ways to qualify for Farmasi Cruise 2022:</p>
                  <ul>
                    <li>
                      <p><b>New Recruits that become Directors</b></p>
                      <p>If you sign up within the qualification period and become a director, <b>YOU QUALIFY!</b><br>
                        <b>You must retain your Director rank until the end of March 2022 to qualify.</b>
                      </p>
                    </li>
                    <li>
                      <p><b>Add two 25% legs over 2021 max leg count</b></p>
                      <p>Will compare max leg count in the first half of 2021 to legs at the end of the incentive
                        period.
                        Increase your 25% ranked frontline BI count by minimum 2 and <b>YOU QUALIFY!</b></p>
                    </li>
                    <li>
                      <p><b>Top 20 Ranking BIs</b></p>
                      <p>The leaders are sorted by their titles. To determine the Top 20 leaders:</p>
                      <p><b>DIAMOND AND ABOVE</b></p>
                      <p>1st criteria - Title</p>
                      <p>2nd criteria - Title Points</p>
                      <p>3rd criteria - Side Points</p>
                      <p><b>EMERALD AND BELOW</b></p>
                      <p>1st criteria - Title</p>
                      <p>2nd criteria - Number of legs</p>
                      <p>3rd criteria - Side Points</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading6">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    Q: What is the length of the cruise?
                  </button>
                </h2>
              </div>
              <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: The length of the cruise is yet to be determied.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading7">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Q: What ports will the Farmasi cruise be visiting?
                  </button>
                </h2>
              </div>
              <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Farmasi cruise destinations will be shared as soon as they're finalized.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading8">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    Q: What is included in the Farmasi Cruise 2022?
                  </button>
                </h2>
              </div>
              <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Here is what is included:</p>
                  <p>Your cruise fare</p>
                  <p>All port taxes and fees</p>
                  <p>All meals aboard the cruise ship</p>
                  <p>All Farmasi sponsored festivities</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading9">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    Q: What is not included?
                  </button>
                </h2>
              </div>
              <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Here is what is not included:</p>
                  <p>Additional excursions</p>
                  <p>Flights to the port of departure and back home</p>
                  <p>Airport transfers to the Port and back</p>
                  <p>Fees for visas, passports or covid tests</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading10">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    Q: What happens if I qualify before March 2022 but fail to maintain my rank on the last month?
                  </button>
                </h2>
              </div>
              <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: You must maintain your Director Title until the end of March to qualify for Farmasi Cruise.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading11">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    Q: What if I am a 22% right now? Which rule would apply to me?
                  </button>
                </h2>
              </div>
              <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Since you are not a new sign up, only the 2nd and 3rd rules will apply.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading12">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    Q: What if I am a Manager 4th month right now? Do I qualify when I hit Director in July 2021?
                  </button>
                </h2>
              </div>
              <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: No. The First qualification is only for new BI's who sign up after July 2021.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading13">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                    Q: Can I bring a guest with me to Farmasi Cruise 2022?
                  </button>
                </h2>
              </div>
              <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: You can invite only one adult guest but there will be an additional fee as guests are not
                    covered
                    on this incentive trip.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading14">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                    Q: Will there be COVID restrictions in place?
                  </button>
                </h2>
              </div>
              <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Right now, a negative COVID-19 test in necessary to re-enter the United States and a COVID-19
                    vaccine is required to board a cruise ship. Those government guidelines may change before departing
                    on
                    this trip. If they do, we will update you as soon as possible.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading15">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                    Q. What clothing should I pack for the Farmasi Cruise 2022.
                  </button>
                </h2>
              </div>
              <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#farmasifaq">
                <div class="card-body">
                  <p>A: Lots of swimwear, lots of summer clothes, cocktail attire for dinners and one formal outfit for
                    Captain's Night. Don't forget the sunblock!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="frmFooter">
      <ul>
        <li>
          <a href="https://facebook.com/Farmasi-USA-2234387646887335/" target="_blank">
            <img src="/cruiseintensive/img/blank.png" data-src="/cruiseintensive/img/facebook.png"
              alt="Cruise Intensive" class="lazyload">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/farmasiusa/" target="_blank">
            <img src="/cruiseintensive/img/blank.png" data-src="/cruiseintensive/img/instagram.png"
              alt="Cruise Intensive" class="lazyload instagram">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCa0BWzAqhRML6yG5CRRBhNQ?view_as=subscriber" target="_blank">
            <img src="/cruiseintensive/img/blank.png" data-src="/cruiseintensive/img/youtube.png" alt="Cruise Intensive"
              class="lazyload">
          </a>
        </li>
      </ul>
      <p>© 2021 Farmasi</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"></script>
    <script src="/cruiseintensive/js/core.min.js"></script>
  </body>

  </html>